<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459038662972-mgn3sc7udu2sfuaiapr7m4fv8tt5npos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459038662972-mgn3sc7udu2sfuaiapr7m4fv8tt5npos</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Fz702rG1rgW8lqAVdMFsYj613ESI6BU</string>
	<key>GCM_SENDER_ID</key>
	<string>459038662972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harir.store.com.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gorget-store-last-one</string>
	<key>STORAGE_BUCKET</key>
	<string>gorget-store-last-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459038662972:ios:8babded9c9d67673f6fe39</string>
</dict>
</plist>